/* Responsive CSS */

/* Min Width 1200px and Max Width 1399px */

@media (min-width: 1200px) and (max-width: 1399px) {
  .about-item-card {
    padding: 60px 0;
  }

  .blog-post-content h3 {
    font-size: 22px;
  }
}

/* Min Width 992px and Max Width 1199px */

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content h1 {
    font-size: 56px;
  }

  .about-content h2,
  .free-trial-content h2,
  .work-title h2,
  .popular-courses-top h2,
  .testimonial-content h2,
  .news-title h2,
  .events-title h2 {
    font-size: 40px;
  }

  .achieve-card {
    padding: 25px;
  }

  .common-hero-content h1 {
    font-size: 48px;
  }

  .about-contact-content h3 {
    font-size: 35px;
  }

  .about-item-card {
    padding: 35px 0;
  }

  .strength-title h2,
  .enquiry-title h2,
  .categories h2,
  .top-post h2,
  .instagram h2 {
    font-size: 36px;
  }

  .blog-post-content h3 {
    font-size: 22px;
  }
}

/* Min Width 768px and Max Width 991px */

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content h1 {
    font-size: 40px;
  }

  .about-content h2,
  .free-trial-content h2,
  .work-title h2,
  .popular-courses-top h2,
  .testimonial-content h2,
  .news-title h2,
  .events-title h2 {
    font-size: 36px;
  }

  .free-trial-content {
    padding-left: 80px;
    padding-right: 0;
  }

  .free-trial-shape {
    left: -100px;
  }

  .free-trial-shape img {
    max-width: 60%;
  }

  .common-hero-content h1 {
    font-size: 36px;
  }

  .about-contact-content h3 {
    font-size: 35px;
  }

  .about-item-card {
    padding: 35px 0;
    background-size: contain;
    background-position: center;
  }

  .strength-title h2,
  .enquiry-title h2,
  .categories h2,
  .top-post h2,
  .instagram h2 {
    font-size: 36px;
  }

  .about-contact-wrapper {
    background: none;
  }

  .strength-item1,
  .strength-item3 {
    padding-left: 0;
  }

  .strength-item4,
  .strength-item6 {
    padding-right: 0;
  }

  .blog-post-content h3 {
    font-size: 20px;
  }
}

/* Min Width 300px and Max Width 767px */

@media (min-width: 300px) and (max-width: 767px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-btn a {
    font-size: 16px;
  }

  .about-content h2,
  .free-trial-content h2,
  .work-title h2,
  .popular-courses-top h2,
  .testimonial-content h2,
  .about-contact-content h3,
  .strength-title h2,
  .enquiry-title h2,
  .news-title h2,
  .events-title h2,
  .categories h2,
  .top-post h2,
  .instagram h2 {
    font-size: 28px;
  }

  .work-item {
    margin: auto;
  }

  .free-trial-shape {
    left: -55px;
  }

  .free-trial-shape img {
    max-width: 50%;
  }

  .free-trial-content {
    padding: 0 0 0 20px;
  }

  .free-trial-form {
    padding: 40px 20px 0;
  }

  .testimonial-slider {
    height: 450px;
  }

  .testimonial-content {
    padding-bottom: 50px;
  }

  .popular-course-card-content h3,
  .testimonial-content h4,
  .work-item h4 {
    font-size: 20px;
  }

  .events-content h5 {
    font-size: 18px;
  }

  .footer-menu ul li {
    padding: 10px;
  }

  .footer-copyright p,
  .footer-copyright a,
  .footer-menu ul li a {
    font-size: 16px;
  }

  .footer-copyright {
    text-align: center;
  }

  .common-hero-content h1 {
    font-size: 30px;
  }

  .about-item-card {
    padding: 35px 0;
    background-size: contain;
    background-position: center;
  }

  .about-contact-wrapper {
    background: none;
  }

  .strength-item1,
  .strength-item3 {
    padding-left: 0;
  }

  .strength-item4,
  .strength-item6 {
    padding-right: 0;
  }

  .common-hero-content p,
  .about-contact-content p,
  .top-post-card-text h5 {
    font-size: 16px;
  }

  .about-item-card h5 {
    font-size: 20px;
  }

  .strength-item {
    padding: 10px 0;
  }

  .enquiry-wrapper {
    padding: 0 10px;
  }

  .enquiry-form .form-input-field label,
  .category-menu ul li {
    font-size: 18px;
  }

  .enquiry-form .form-input-field ::placeholder {
    font-size: 16px;
  }

  .blog-post-content h3 {
    font-size: 20px;
  }

  .blog-post-img img {
    width: 100%;
    min-height: 280px;
    max-height: 280px;
    height: 100%;
    padding-bottom: 20px;
  }
}
